* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Nohemi;
  src: url(./Assets/Nohemi-Regular.ttf);
}
@font-face {
  font-family: plus;
  src: url(./Assets/LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko20yw.ttf);
}

html.lenis,
html.lenis body {
  height: auto;
  width: 100%;
  overflow-x: hidden !important;
}

.lenis.lenis-smooth {
  scroll-behavior: smooth !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: white;
}
body::-webkit-scrollbar {
  display: none;
}
.Container{
  opacity: 0;
}
#loader {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999999999 !important;
}
#loader .loadervideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* homepage */

#home {
  width: 100%;
  position: relative;
}
.pinsection {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: end;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  top: 0 !important;
  z-index: 2;
}

.pascdn {
  position: absolute;
  left: 2%;
  max-width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 25%;
}
.lefteffect::before {
  border-radius: 454px;
  opacity: 0.8;
  background: #a668fd;
  filter: blur(200px);
  border-radius: 454px;
  -webkit-filter: blur(200px);
  width: 62vh;
  z-index: -1;
  height: 56vh;
  position: absolute;
  content: "";
  top: -14%;
  left: -6%;
}
.righteffect:before {
  border-radius: 1047px;
  opacity: 1;
  background: #fad3c6;
  -webkit-filter: blur(250.11285400390625px);
  filter: blur(250.11285400390625px);
  width: 72vh;
  height: 58vh;
  z-index: 0;
  position: absolute;
  content: "";
  top: -20%;
  right: 0%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.contentWraper {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* opacity: 0; */
}
.leftcontent {
  width: 55%;
  height: 100%;
  padding-left: 10vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wfirst {
  width: 40%;
}
.wfirst p {
  font-family: "Nohemi";
  font-size: 1.2vw;
  color: #1b1c15;
  line-height: 2vw;
  border-bottom: 1px solid #a668fd;
}

.introheading {
  margin-top: 5vw;
  margin-bottom: 5vw;
  width: 100%;
}
.introheading h1 {
  color: #17191a;
  font-family: "Nohemi";
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 6vw;
  position: relative;
}
.popup {
  width: 20vw;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#cta_animate #Layer_1 {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box;
  animation: wheel 18s infinite linear;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#Group #Line_12 {
  background-color: #8b6ed8;
}
.rightcontent {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}
.rightcontent .uperheading {
  width: 40%;
  border-bottom: 1px solid #a668fd;
  position: absolute;
  top: 5vw;
  margin-left: 5vw;
  font-size: 1.2vw;
  color: #1b1c15;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Nohemi";
  line-height: 2vw;
}
.rightcontent .svgcontent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 5vw;
}
.nameheading {
  height: 50vh;
  width: 50%;
  position: fixed;
  top: 8%;
  left: 6%;
  display: flex;
  justify-content: start;
  align-items: start;
  mix-blend-mode: difference;
  z-index: 9999 !important;
}

.namelogo h1 {
  font-size: 12rem;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Nohemi";
  color: rgb(255, 255, 255);
}
.firstname,
.lastname {
  display: flex;
}

.namelogo h1 div {
  text-transform: none;
}

.gallery {
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: 3;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 8vh;
    /* background-color: red; */
  }
 
  .item {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item img {
    width: 35%;
    object-fit: cover;
  }
  
  .item-1 {
    align-items: end;
    padding-right: 7vw;

  }
  .item-2 {
    align-items: start;
    padding-left: 7vw;
  }
  .item-3 {
    align-items: center;
  }
  .item-4 {
    align-items: end;
    padding-right: 7vw;
  }
  .item-5 {
    align-items: start;
    padding-left: 7vw;
  }


.second {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin-top: 5vw;
}
.second .videosection {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.second .videosection video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.third {
  min-height: 100vh;
  width: 100%;
  background: #16181e;
  position: relative;
  margin-top: 10vw;
}
.slidelogo {
  height: 25vh;
  width: 25vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999 !important;
}
.slidelogo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.thirdheading {
  height: 100%;
  width: 100%;
}
.dicovercontent {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vw;
}
.content div {
  overflow: hidden;
}
.content div h1 {
  font-size: 3vw;
  font-weight: 300;
  font-family: "Nohemi";
  color: white;
  text-align: center;
}
.thirdsilder {
  height: 20vh;
  width: 100%;
  margin-top: 3vw;
}
.thirdsilder .slidetext {
  height: 12vh;
  width:auto;
  background-color: white;
  position: relative;
  overflow-x: auto;
  display: flex;
  align-items: center;
  transform-origin: right;
  transform: rotate(-4deg);
}
.slidetext::-webkit-scrollbar {
  display: none;
}
.movingtext{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2vw;
  flex-wrap: nowrap;
  flex-shrink: 0;
  margin-right: 2vw;
}


.movingtext .textband {
  font-size: 1.5rem;
  color: #17191a;
  font-family: "Nohemi";
  font-weight: 400;
  text-transform: capitalize;
  mix-blend-mode: difference !important;
}
.movingtext img {
  height: auto;
  max-width: 26%;
  transform: rotate(4deg);
}


.instoductionsection {
  width: 100%;
  margin-top: 10vw;
  display: flex;
  justify-content: center;
}
.leftsection-intro,
.rightsection-intro {
  width: 50%;
}
.leftsection-intro .text-intro {
  width: 100%;
  height: 40vh;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.rightsection-intro .text-intro {
  padding-right: 5vw;
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: start;
  justify-content: end;
  gap: 2vw;
  margin-top: 3vw;
}
.leftsection-intro .text-intro p,
.rightsection-intro .text-intro p {
  font-size: 2vw;
  font-family: "plus";
  color: white;
  font-weight: 200;
  line-height: 2.3vw;
}

.leftsection-intro .clientimg,
.rightsection-intro .clientimg {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5vw;
  margin-top: 10vw;
}
.rightsection-intro .clientimg {
  justify-content: end;
  padding-right: 6vw;
  gap: 2vw;
  margin-top: 0vw;
}
.crossclippath {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
}
.crossclippath .roatingsvg {
  position: absolute;
  height: 25vh;
  width: 25vh;
  margin-top: 5vw;
}
.crossclippath .roatingsvg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  animation: rotated 10s infinite linear;
}
@keyframes rotated {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.crossclippath img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.fourth {
  width: 100%;
  margin-top: 10vh;
}
.fourthsectionslider {
  width: 100%;
}

.fourthsectionslider .fourthslidetext {
  height: 15vh;
  width:auto;  
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.fourthslidetext::-webkit-scrollbar {
  display: none;
}
.fourthsectionslider .fourthslidetext .fourthmovingtext {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3vw;
  flex-wrap: nowrap;
  flex-shrink: 0
}

.fourthsectionslider .fourthslidetext .fourthmovingtext img {
  height: 10vh;
  width: 10vh;
}
.fourthslidetext .fourthmovingtext .textstrok {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Nohemi";
  font-weight: 600;
}
.fourthmovingtext .textstrok span {
  margin-left: 2vw;
  -webkit-text-stroke: #17191a;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-fill-color: white;
} 
.mobile {
  display: none;
}
.fourthvideopin {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.fourthvideopin .leftsection,
.rightsection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fourthvideopin .leftsection {
  height: 100vh;
  flex-direction: column;
  justify-content: start;
  padding-top: 13vw;
  gap: 2vw;
  position: relative;
}
.videoinfo {
  /* position: absolute; */
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
  padding-left: 6vw;
  padding-right: 2vw;
  background-color: white;
}
.videoinfonext2,
.videoinfonext3,
.videoinfonext4 {
  position: absolute;
}

.leftsection .videoinfo .firstheading h1,
.thirdheading h1 {
  font-size: 1.5vw;
  font-weight: 100;
  text-transform: capitalize;
  font-family: sans-serif;
}
.leftsection .videoinfo .thirdheading h1 {
  color: #a8a4a4;
}
.leftsection .videoinfo .secondpera p {
  font-size: 2.2rem;
  font-family: "plus";
  font-weight: 500;
  text-transform: capitalize;
  word-spacing: 3px;
  line-height: 2.2rem;
  display: inline-block;
}
.secondpera p:hover {
  color: #5f32c7 ;
}
.rightsection .videobox {
  height: 80vh;
  width: 75%;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.rightsection .videobox .video {
  height: 100%;
  width: 100%;
}
.rightsection .videobox .videonext {
  position: absolute;
  top: 0;
}
.rightsection .videobox .video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.countdown {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 4vw;
}
.countdown .count {
  height: 100%;
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.countdown .count span {
  font-size: 9vw;
  font-weight: 400;
  font-family: "Nohemi";
  color: #dadada;
  display: inline-block;
}
.count h1 {
  position: absolute;
  font-size: 1.6vw;
  font-family: "Nohemi";
  text-transform: capitalize;
  color: #16181e;
  font-weight: 100;
  z-index: 2;
}
.fiveth {
  width: 100%;
  background-color: #16181e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.fivethleftside {
  width: 45%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: capitalize;
  word-spacing: 10px;
  /* padding-left: 8vw; */
  flex: 1;
}
.slidelinebox {
  font-size: 2.2vw;
  color: white;
  font-weight: 400;
  font-family: "Nohemi";
  color: #dadada;
  position: relative;
  margin-left: 8vw;
}
.slidelinebox::after {
  content: "";
  height: 5%;
  width: var(--after-width, 0%);
  background: white;
  position: absolute;
  left: 0;
  bottom: -20%;
}
.fivethrightside {
  width: 55%;
  height: 100vh;
  flex: 1;
  position: sticky;
}
.fivethrightside .rightsidesilde {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
}
.brandingwarper,
.uxuiwarepr,
.saaswarepr {
  height: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  position: absolute;
  gap: 2vw;
}

.rightwraper .leftsvg {
  height: 35%;
  width: 18%;
  margin-top: 1.5vw;
}

.rightwraper .leftsvg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.rightcontet {
  width: 100%;
}
.rightcontet h1 {
  font-size: 2vw;
  font-family: "plus";
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 2vw;
}
.rightcontet p {
  font-size: 1.5vw;
  font-family: "plus";
  color: white;
  line-height: 2vw;
  font-weight: 500;
}
.sixth {
  height: 100vh;
  width: 100%;
}
.sixthheading {
  height: 100%;
  width: 100%;
  color: #16181e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
.heading1,
.heading2,
.heading3 {
  font-size: 10rem;
  letter-spacing: -6px;
  font-family: "Nohemi";
  font-weight: 400;
}
.sixthheading .heading2,
.blandoverlay .heading2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
  overflow: hidden;
}
.sixthheading .heading2 .midheadingimg{
  height: 4rem;
  width: 4rem;
  display: inline-block;
  border-radius: 28px;
  margin-right: 2vw;
}
.blandoverlay .heading2 .midheadingimg {
  height: 4rem;
  width: 4rem;
  display: inline-block;
  border-radius: 28px;
  margin-right: 2vw;
}

.blandoverlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff9f6;
  color: #d3390096;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -3px;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.seventh {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  margin-top: 5vw;
}
.leftphoneimg,
.rightpera {
  height: 100%;
  width: 50%;
  font-family: "Nohemi";
}
.leftphoneimg .phoneimg {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.phoneimg img {
  height: 100%;
  width: 60%;
}
.rightpera {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3vw;
  padding-right: 4vw;
  margin-bottom: 5rem;
}
.rightpera h1 {
  font-size: 1.8vw;
  color: #16181e;
  padding-top: 10vw;
}
.rightpera p {
  font-size: 1.7vw;
  color: #16181e;
  line-height: 2.7vw;
}

.eightsliderContainer{
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
 overflow: hidden; 


}


.eightsilder{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 12rem ;
  padding-top: 6rem ;
  
}
#eightsilder1{
  position: relative;
  z-index: 2;
}
.eightsilder .slidetext {
  transform: rotate(-6deg);
}
#eightsilder2{
  position: absolute;
  left: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  z-index: 3;
  background:#16181e;

}

.slidetext::-webkit-scrollbar{
  display: none;
}
.eightsilder .slidetext .movingtext{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2vw;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.eightsilder .slidetext .movingtext .textband{
  font-size: 6vw;
  text-transform: capitalize;
  flex-shrink: 0;
  font-family: sans-serif; 
  font-weight: 500;
}
#eightsilder1 .slidetext2 .movingtext .textband{
  color: #17191a !important;
 font-weight: 500;
}
#eightsilder2 .slidetext .movingtext .textband{
  color:white;
 }
.eightsilder .slidetext .movingtext .textband i{
  display: inline-block;
}
.eightsilder .slidetext .movingtext  .shapec{
 width: 18vh;
 height: 18vh;
 transform: rotate(10deg);
}



.eight {
  width: 100%;
  background: #16181e;
  position: relative;
}
.eightswiperwraper {
  height: auto;
  width: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.swiper-slide {
  height: 100%;
  width: 100%;
  padding: 0px 6vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.paaratestmn {
  font-size: 3vw;
  font-family: "plus";
  font-weight: 500;
  color: white;
  line-height: 3.5vw;
  letter-spacing: -1px;
  margin-top: 12vw;
}
.nameclient,
.paceclient {
  font-size: 2vw;
  font-family: "plus";
  font-weight: 500;
  color: white;
  margin-top: 7vw;
}
.paceclient {
  margin-top: 0vw;
  margin-bottom: 8vw;
  color: #a8a4a4;
}
.swipehandler {
  position: absolute;
  bottom: 18%;
  right: 10vw;
  width: 8vw;
  height: 3.4vw;
  background-color: #3b3737;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 28px;
  overflow: hidden;
}
.swipehandler .buttonnext,
.swipehandler .buttonprev {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}
.swipehandler .buttonnext {
  justify-content: start;
}

.buttonnext img,
.buttonprev img {
  height: 70%;
  width: 60%;
  object-fit: cover;
  padding-left: 4px;
}
.fotter {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #16181e;
  padding: 0px 8vw;
  position: relative;
}

.fottercontent {
  height: 100%;
  width: 100%;
  border-top: 1px solid #a790e85a;
}
.uppercontent {
  height: 70%;
  width: 100%;
  display: flex;
}

.fotternamelogo {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.uppercontent .fotternamelogo h1 {
  font-size: 3.5vw;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Nohemi";
}
.firstname,
.lastname {
  display: flex;
}

.fotternamelogo h1 div {
  text-transform: none;
}
.fottercontact {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
}
.fottercontact .left,
.fottercontact .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: "Nohemi";
  color: white;
  gap: 2.6vw;
}
.fottercontact .right {
  margin-top: 2vw;
}
.fottercontact .left h1,
.fottercontact .right h1 {
  font-size: 1vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.fottercontact .left a {
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
}

.fottercontact .right .links {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}
.fottercontact .right .links a {
  text-align: start;
  text-decoration: none;
  height: 1vw;
  width: fit-content;
  overflow: hidden;
}
.fottercontact .right .links a:hover h1 {
  transform: translateY(-100%);
  color: #a668fd;
}
.fottercontact .right .links a h1 {
  text-transform: capitalize;
  color: white;
  font-size: 1vw;
  font-weight: 600;
  transition: all ease 0.5s;
  padding-bottom: 1px;
}

.lowercontent {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Nohemi";
}
.lowercontent .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  font-family: "Nohemi";
}
.lowercontent .left a {
  color: white;
  text-decoration: none;
  height: 1vw;
  overflow: hidden;
}
.lowercontent .left a:hover h1 {
  transform: translateY(-100%);
  color: #a668fd;
}
.lowercontent .left a h1 {
  text-transform: capitalize;
  font-size: 1vw;
  padding-bottom: 1px;
  transition: all ease 0.5s;
}
.lowercontent .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lowercontent .right p {
  font-size: 1vw;
  color: white;
  font-weight: 500;
}

.hamburger {
  width: 6em;
  height: 6em;
  display: inline-block;
  position: relative;
  z-index: 1;
  mix-blend-mode: overlay;
}
.hamburger .line {
  width: 100%;
  height: 0.5rem;
  background-color: rgb(153 139 139);
  position: absolute;
  left: 0%;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transform: translate(-0%, -0%) rotate(0.001deg);
  gap: 10px;
  border-radius: 0.5vmax;
}
.hamburger .line1 {
  top: 20%;
}
.hamburger .line2 {
  top: 60%;
}
.hamburger .line.active {
  mix-blend-mode: difference;
}

.Header__Wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999999;
  padding: 4rem 18vh;
  height: 108px;
  font-family: Bulevar, sans-serif;
  position: fixed;
}

.Header__Right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  pointer-events: all;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0s;
  -o-transition: opacity 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s;
  background: none;
  border: none;
  font-family: Bulevar, sans-serif;
}
.Header__MenuContainer {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.Header__Menu {
  font-size: 2rem;
}
.Header__Menu.Close {
  font-weight: 600;
  letter-spacing: 0.01em;
  position: relative;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  color: rgb(0, 0, 0);
  opacity: 0;
}
.Header__Menu.Close:first-child {
  position: absolute;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.Header__Menu.Open {
  font-weight: 600;
  position: relative;
}
.SideNav__Wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  pointer-events: none;
}
.SideNav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 1s ease 0s;
  -o-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
  background-color: rgba(46, 56, 48, 0.8);
  pointer-events: none;
}

.Noise__NoiseWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.6;
  display: none;
  pointer-events: none;
}
.Noise__NoiseAnimation {
  -webkit-animation: 0.3s steps(6) 0s infinite normal none running mos;
  animation: 0.3s steps(6) 0s infinite normal none running mos;
  position: absolute;
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  background-image: url("https://www.newformcap.com/static/noise-371d72175aafed861a68c9b3beb98584.webp");
  background-size: 15%;
  pointer-events: none;
  display: none;
}
@-webkit-keyframes mos {
  0%,
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  10% {
    -webkit-transform: translate(-5rem, -5rem);
    transform: translate(-5rem, -5rem);
  }
  30% {
  }
  50% {
    -webkit-transform: translate(10rem, 10rem);
    transform: translate(10rem, 10rem);
  }
  70% {
    -webkit-transform: translate(9rem, 3rem);
    transform: translate(9rem, 3rem);
  }
  90% {
    -webkit-transform: translate(-1rem, 7rem);
    transform: translate(-1rem, 7rem);
  }
}
@keyframes mos {
  0%,
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  10% {
    -webkit-transform: translate(-5rem, -5rem);
    transform: translate(-5rem, -5rem);
  }
  30% {
  }
  50% {
    -webkit-transform: translate(10rem, 10rem);
    transform: translate(10rem, 10rem);
  }
  70% {
    -webkit-transform: translate(9rem, 3rem);
    transform: translate(9rem, 3rem);
  }
  90% {
    -webkit-transform: translate(-1rem, 7rem);
    transform: translate(-1rem, 7rem);
  }
}
.SideNav__Sidebar {
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding-left: 10rem;
  
}
.SideNav__InnerWrapper {
  max-width: 100%;
  overflow: hidden;
}
.SideNav__InnerBG {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgb(18, 22, 19);
}
.NavigationItems__Wrapper {
  font-style: normal;
  font-size: 7rem;
  font-family: "nRegular";
  line-height: 100%;
  letter-spacing: -0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
  padding-right: 6rem;
  margin-left: 7rem;
  margin-right: -6rem;
  gap: 4rem;
}
.NavigationItems__ItemsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4rem;
}
.NavItem__Wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 100%;
  position: relative;
}
.NavItem__Item {
  color: rgb(250, 255, 250);
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-family: Nohemi;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.NavItem__Wrapper:hover .NavItem__Item {
  color: #8b6ed8;
  cursor: pointer;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
}
.NavItem__Blinky {
  border-bottom: 6px solid #aa94e8;
  display: inline-block;
  width: 60px;
  height: 80px;

  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: blink 0.5s infinite alternate;
  animation: blink 0.5s infinite alternate;
}
.brdrcntcn {
  border: none !important;
  padding: 3rem 0px 0px 0px !important;
}
@-webkit-keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.NavItem__Wrapper:hover .NavItem__Blinky {
  visibility: visible;
}
.NavigationItems__Clipper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 33%;
  overflow: hidden;
  background: rgb(18, 22, 19);
} 
